! Use the specified colour as the windows background colour [default White]; option -bg.
URxvt*background: #000000

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
URxvt*foreground: #dedede

! If set, use the specified colour as the background for highlighted characters. If unset, use reverse video.
! pikles color: 40BE70
! empoleon color: 5f87d7
URxvt*highlightColor: #5f87d7

! If set and highlightColor is set, use the specified colour as the foreground for highlighted characters.
URxvt*highlightTextColor: Black

! Use the specified colour for the cursor. The default is to use the foreground colour; option -cr.
URxvt*cursorColor: #5f87d7

! Emphasis  colors
URxvt.colorIT: #87af5f
URxvt.colorBD: #87afd7
URxvt.colorUL: #d75fd7

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when trying to find glyphs for characters. The first font defines the cell size for characters; other fonts
URxvt*font: -xos4-terminus-medium-*-*-*-*-140-*-*-*-*-iso10646-*
            xft:DejaVu Math Tex Gyre

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: false

! True: scroll to bottom when tty receives output; option -si.  False: do not scroll to bottom when tty receives output; option +si.
URxvt*scrollTtyOutput: false

! Save number lines in the scrollback buffer [default 1000]; option -sl.
URxvt*saveLines: 3200

! Scrollback bindings
! Scroll 1 line
! URxvt.keysym.Mod1-k: command:\033]720;1\007
! URxvt.keysym.Mod1-j: command:\033]721;1\007
! Scroll 20 lines
URxvt.keysym.Mod1-u: command:\033]720;20\007
URxvt.keysym.Mod1-d: command:\033]721;20\007
! Scroll 50 lines
URxvt.keysym.Mod1-b: command:\033]720;50\007
URxvt.keysym.Mod1-f: command:\033]721;50\007
! Scroll to the bottom
URxvt.keysym.Mod1-g: command:\033]721;1000\007

! :Bind C-0, C-- and C-= to activate normal, large, and larger font size resp.
URxvt.keysym.C-0: command:\033]50;-*-terminus-medium-*-*-*-*-140-*-*-*-*-iso10646-1,xft:DejaVu Math TeX Gyre\007
URxvt.keysym.C-minus: command:\033]50;-*-terminus-medium-*-*-*-*-180-*-*-*-*-iso10646-1,xft:DejaVu Math TeX Gyre\007
URxvt.keysym.C-equal: command:\033]50;-*-terminus-bold-*-*-*-*-320-*-*-*-*-iso10646-1,xft:DejaVu Math TeX Gyre:size=10\007

! Xft stuff
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96
