! Use the specified colour as the windows background colour [default White]; option -bg.
URxvt*background: #000000

! Use the specified colour as the windows foreground colour [default Black]; option -fg.
URxvt*foreground: #dedede

! If set, use the specified colour as the background for highlighted characters. If unset, use reverse video.
! pikles color: 40BE70
! empoleon color: 5f87d7
URxvt*highlightColor: #5f87d7

! If set and highlightColor is set, use the specified colour as the foreground for highlighted characters.
URxvt*highlightTextColor: Black

! Use the specified colour for the cursor. The default is to use the foreground colour; option -cr.
URxvt*cursorColor: #5f87d7

! Select the fonts to be used. This is a comma separated list of font names that are checked in order when trying to find glyphs for characters. The first font defines the cell size for characters; other fonts
URxvt*font: -*-terminus-medium-*-*-*-*-140-*-*-*-*-iso10646-1, \
            -*-freeserif-medium-*-*-*-*-120-*-*-*-*-iso10646-1

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar; option +sb.
URxvt*scrollBar: false

! True: scroll to bottom when tty receives output; option -si.  False: do not scroll to bottom when tty receives output; option +si.
URxvt*scrollTtyOutput: false

! Scrollback bindings
! Scroll 20 lines
URxvt.keysym.Mod1-u: command:\033]720;20\007
URxvt.keysym.Mod1-d: command:\033]721;20\007
! Scroll 1 line
URxvt.keysym.Mod1-k: command:\033]720;1\007
URxvt.keysym.Mod1-j: command:\033]721;1\007
