snippet md "metadata" b
---
$1
...
endsnippet

snippet texmd "tex metadata" b
---
documentclass: article
geometry:
- margin=1in
colorlinks: true
urlcolor: true
...
endsnippet

snippet --- "em dash" iA
&mdash;
endsnippet
