[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/bin/sh /home/"%I"/.reset_tp.sh

[Install]
WantedBy=suspend.target
