[Unit]
Description=User resume actions
Requires=home.mount
After=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/sleep 1
ExecStartPost=/bin/sh /home/"%I"/.toggle_redshift.sh restore
ExecStartPost=/bin/sh /home/"%I"/.reset_tp.sh

[Install]
WantedBy=suspend.target
