# DO NOT SYMLINK
#
# Run daemon-reload so that symlinked files are picked up.
# (Therefore, it would defeat the purpose to symlink this one...)
[Unit]
Description=Runs daemon-reload on startup to properly follow symlinked service files
After=local-fs.target

[Service]
Type=oneshot
ExecStart=systemctl daemon-reload

[Install]
WantedBy=multi-user.target
