[Unit]
Description=User resume actions
Requires=home.mount
After=suspend.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/sleep 1
ExecStart=/bin/sh /home/"%I"/.reset_tp.sh

[Install]
WantedBy=suspend.target
